[credential]
	helper = osxkeychain
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
	followTags = true
[alias]
	co = checkout
	br = branch
	st = status
	last = log -1 HEAD
	logf = log -p --name-only
	diffs = diff --staged
	unstage = reset HEAD --
	ci = commit
	cm = commit
[diff]
	tool = vimdiff
[difftool]
	prompt = true

# Allow local customizations in the .gitconfig_local file
[include]
	path = ~/.gitconfig_local